
<tbody>
<td><%= food.name %></td>
<td><%= food.measurement_unit %></td>
<td><%= food.price %></td>
<td><%= food.quantity %></td>    
<td><%= button_to "Destroy this food", food_path(food), method: :delete %></td>      
</tbody>

